<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flickr API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="my-3">Flickr API</h1>
    <ul>

        <li>
            <p><a class="btn btn-primary" data-toggle="collapse" 
            href="#a" role="button" aria-expanded="false" 
            aria-controls="collapseExample">
                GET
            </a><code> / </code></p>
            <div class="mb-3 collapse" id="a">
                <div class="card card-body">
                    <p>Homepage</p>
                </div>
            </div>
        </li>

        <li>
            <p><a class="btn btn-primary" data-toggle="collapse" 
            href="#b" role="button" aria-expanded="false" 
            aria-controls="collapseExample">
                GET
            </a><code> / photos </code></p>
            <div class="mb-3 collapse" id="b">
                <div class="card card-body">
                    <p>Get 20 latest Flickr public photos</p>
                    <p><b>Response (<code>200</code>)</b></p>
                    <pre class="bg-secondary text-light"><xmp>
    {
        title: 'Uploads from everyone',
        link: 'https://www.flickr.com/photos/',
        description: '',
        modified: '2020-07-23T06:11:29Z',
        generator: 'https://www.flickr.com',
        items: [
            {
            title: 'Musicas Relaxantes Acalmar a Mente - acalmar a mente: música relaxante piano e natureza',
            link: 'https://www.flickr.com/photos/188936271@N08/50142618948/',
            media: {
                m: 'https://live.staticflickr.com/65535/50146379363_34622defde_m.jpg'
            },
            date_taken: '2020-07-22T23:11:29-08:00',
            description: 'description text',
            published: '2020-07-23T06:11:29Z',
            author: 'nobody@flickr.com ("relaxantesmusicas")',
            author_id: '188936271@N08',
            tags: 'ifttt youtube musicas relaxantes'
            },
            
            ......

        ]
    }                        
                    </xmp></pre>
                </div>
            </div>
        </li>

        <li>
            <p><a class="btn btn-primary" data-toggle="collapse" 
            href="#c" role="button" aria-expanded="false" 
            aria-controls="collapseExample">
                GET
            </a><code> / fave </code></p>
            <div class="mb-3 collapse" id="c">
                <div class="card card-body">
                    <p>Get all your favorite photos</p>
                    <p><b>Response (<code>200</code>)</b></p>
                    <pre class="bg-secondary text-light"><xmp>
    [    
        {
            "title": "20180804_会津駒ヶ岳_0438.jpg",
            "author": "veryblue123",
            "description": "Description text",
            "published": "2020-07-26",
            "tags": "",
            "image": "https://live.staticflickr.com/65535/50153804946_70ef5b8d0f_m.jpg"
        },
        
        ......

    ]
                    </xmp></pre>
                </div>
            </div>
        </li>

        <li>
            <p><a class="btn btn-danger" data-toggle="collapse" 
            href="#d" role="button" aria-expanded="false" 
            aria-controls="collapseExample">
                POST
            </a><code> / fave </code></p>
            <div class="mb-3 collapse" id="d">
                <div class="card card-body">
                    <p>Add your favorite photos</p>
                    <p><b>Headers</b></p>
                    <pre class="bg-secondary text-light"><xmp>
    {
        'Content-Type': 'application/json;charset=utf-8'
    }
                    </xmp></pre>
                    <p><b>Body request</b></p>
                    <pre class="bg-secondary text-light"><xmp>
    {
        title: ... ,
        author: ... ,
        description: ... ,
        published: ... ,
        tags: ... ,
        image: ... ,
    }
                    </xmp></pre>
                    <p><b>Response (<code>200</code>)</b></p>
                    <pre class="bg-secondary text-light"><xmp>  
    {
        "title": "20180804_会津駒ヶ岳_0438.jpg",
        "author": "veryblue123",
        "description": "Description text",
        "published": "2020-07-26",
        "tags": "",
        "image": "https://live.staticflickr.com/65535/50153804946_70ef5b8d0f_m.jpg"
    }
                    </xmp></pre>
                </div>
            </div>
        </li>

        <li>
            <p><a class="btn btn-dark" data-toggle="collapse" 
            href="#e" role="button" aria-expanded="false" 
            aria-controls="collapseExample">
                DELETE
            </a><code> / fave </code></p>
            <div class="mb-3 collapse" id="e">
                <div class="card card-body">
                    <p>Delete a favorite photo</p>
                    <p><b>Headers</b></p>
                    <pre class="bg-secondary text-light"><xmp>
    {
        'Content-Type': 'application/json;charset=utf-8'
    }
                    </xmp></pre>
                    <p><b>Response (<code>200</code>)</b></p>
                    <pre class="bg-secondary text-light"><xmp>  
    {
        "status": "Data {index} deleted"
    }
                    </xmp></pre>
                </div>
            </div>
        </li>

    </ul>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>